/* Section Home */

/* tagline */
section .row .tagline {
  padding: 22vmin 5vmin;
}

section h1 {
  font-weight: bold;
}

/* kitten image */
section .row .col-md-5 {
  padding: 5vmin 1vmin;
  margin-bottom: 5%;
}

section .row .col-md-5 img {
  width: 90%;
}

/* test media query */
@media (max-width: 765px) {
  .tagline {
    text-align: center;
  }
  .tagline h1 {
    line-height: 1.6;
  }
}

.tagline span {
  background-color: var(--secondary-color);
  padding: 0px 10px;
  border-radius: 0px 20px 0px 20px;
  color: var(--bg-color);
}

/* button join START*/
.tagline .btn-join {
  border: solid 1px var(--main-color);
  color: var(--main-color);
  font-weight: var(--font-medium);
}
.tagline .btn-join:hover {
  background-color: var(--main-color);
  color: var(--bg-color);
}

.section-1 {
  padding: 3%;
}
/* button join END*/

/* Section Team */

/* .section-2 .container h1 {
  font-size: 6vmin;
}

.section-2 .team {
  padding: 1vmin 1vmin;
}

.section-2 .card {
  width: 20em;
  margin-top: 10vmin;
}

.section-2 .card .card-text {
  padding: 0.5em 1.2em;
  font-size: 0.9em;
}

.border-radius {
  border-radius: 50px;
  width: 60%;
} */
