@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  /* COLOR */
  --main-color: #fb9847;
  --secondary-color: #163660;
  --accent-color: #749af1;
  --bg-color: #f6f6f6;

  /* black 85% alpha */
  --normal-text-color: #d9000000;

  /* FONT TYPOGRAPHY */
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --small-text: 0.75rem;

  /* 10px = 0.625rem
    12px = 0.75rem
    14px = 0.875rem
    16px = 1rem (base)
    18px = 1.125rem
    20px = 1.25rem
    24px = 1.5rem
    30px = 1.875rem
    32px = 2rem */

  /* FONT WEIGHT */
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
}

* {
  font-family: var(--body-font);
  /* background-color: #fff; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* EXPLORE START */
.carousel-caption h1 {
  color: var(--main-color);
  font-weight: var(--font-semibold);
}
.carousel-caption p {
  color: var(--main-color);
  font-weight: var(--font-medium);
}

.col-centered {
  float: none;
  margin-right: auto;
  margin-left: auto;
}

#card-button {
  background-color: var(--main-color);
  border: none;
}

/* EXPLORE END */

.overlay p {
  color: white;
}

.overlay h3 {
  color: var(--main-color);
}

footer p,
h6 {
  color: var(--main-color);
}

h4 {
  color: var(--main-color);
}

.list-materi {
  background-color: #f6f6f6;
}

.list-group button {
  background-color: #fb9847;
  border-radius: 5px;
}

.btn-login {
  font-size: 0.9rem;
  border-radius: 70px;
  border-color: #fb9847;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}
